<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pension">
      <h2 data-cy="pensionDetailsHeading"><span jhiTranslate="pensionsApp.pension.detail.title">Pension</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pension.id }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.pension.pensionType">Pension Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pensionsApp.PensionType.' + pension.pensionType }}">{{ pension.pensionType }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.pension.startingDate">Starting Date</span></dt>
        <dd>
          <span>{{ pension.startingDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.pension.paymentMethod">Payment Method</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pensionsApp.PaymentMethod.' + pension.paymentMethod }}">{{ pension.paymentMethod }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.pension.amount">Amount</span></dt>
        <dd>
          <span>{{ pension.amount }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.pension.recipient">Recipient</span></dt>
        <dd>
          <div *ngIf="pension.recipient">
            <a [routerLink]="['/recipient', pension.recipient?.id, 'view']">{{ pension.recipient?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/pension', pension.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
