<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="pensionsApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.address.addressLine1">Address Line 1</span></dt>
        <dd>
          <span>{{ address.addressLine1 }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.address.addressLine2">Address Line 2</span></dt>
        <dd>
          <span>{{ address.addressLine2 }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.address.city">City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.address.country">Country</span></dt>
        <dd>
          <span>{{ address.country }}</span>
        </dd>
        <dt><span jhiTranslate="pensionsApp.address.recipient">Recipient</span></dt>
        <dd>
          <div *ngIf="address.recipient">
            <a [routerLink]="['/recipient', address.recipient?.id, 'view']">{{ address.recipient?.lastName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
